<VirtualHost *:80>

    #ServerAdmin michaelagbiaowei.me

    ServerName 54.197.67.228

    ServerAlias www.54.197.67.228

    DocumentRoot /var/www/property-finder-app/code/public

    <Directory /var/www/property-finder-app/code>

    Options Indexes FollowSymLinks MultiViews

    AllowOverride All

    Order allow,deny

    allow from all

    Require all granted

    </Directory>

    LogLevel debug

    ErrorLog ${APACHE_LOG_DIR}/error.log

    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
